section {
  width: 950px;
  margin: 0 auto;
  font-size: 19.2px;
}

section.jobs article {
  clear: both;
  margin-bottom: 50px;
}

@media (max-width: 1199.98px) {
  section {
    width: 768px;
  }
}

@media (max-width: 767.98px) {
  section {
    width: 575px;
  }
}

@media (max-width: 575.98px) {
  section {
    width: 375px;
  }
}
